<div class="container">

	<!-- Example row of columns -->
	<div class="row">

		<div class="span3" ng-repeat="friend in myFriends">
			<div class="card people">
				<div class="card-top green">
					<a href="#"> <img bn-lazy-src="{{friend.img}}" width="170px" height="150px" alt=""/> </a>
				</div>
				<div class="card-info">
					<a class="title" href="#">{{friend.name}}</a>
					<div class="desc">
						{{friend.desc}}
					</div>
				</div>
				<div class="card-bottom">
					<button class="btn btn-block" ng-click="clickToSee(friend.id)">
						Follow
					</button>
				</div>
			</div>
		</div>

		<div class="span3" ng-repeat="group in myGroups">
			<div class="card hovercard">
				<img bn-lazy-src="{{group.img}}" width="240px" height="135px" alt=""/>
				
				<div class="avatar">
					<img bn-lazy-src="{{group.avatar}}" width="80px" height="80px" alt="" />
				</div>
				<div class="info">
					<div class="title">
						{{group.name}}
					</div>
					<div class="desc" ng-repeat="desc in group.desc">
						{{desc.desc}}
					</div>
				</div>
				<div class="bottom">
					<button class="btn">
						Add
					</button>
				</div>
			</div>
		</div>
	
	</div>
</div>