<div class="container">
  <p class="pull-left">&copy; 2014 Narp Developments.</p>
  <div class="social pull-right">
    <ul>
      <li>Follow us&nbsp;&nbsp;</li>
      <li><a href="https://www.facebook.com/" target="_blank" alt="Facebook"><i class="icon-facebook-sign facebook"></a></i></li>
      <li><a href="https://plus.google.com/" target="_blank" alt="Google"><i class="icon-google-plus-sign google-plus"></a></i></li>
      <li><a href="https://twitter.com/PauloNA" target="_blank" alt="Twitter"><i class="icon-twitter-sign twitter"></a></i></li>
      <li><a href="https://instagram.com/" target="_blank" alt="Instagram"><i class="icon-instagram instagram"></a></i></li>
    </ul>
  </div>
</div>