<div class="navbar navbar-fixed-top" ng-controller="MenuCtrl">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#">Project name</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li ng-class="getClass('/home')">
						<a href="#">Home</a>
					</li>
					<li ng-class="getClass('/about')">
						<a href="#/about">About</a>
					</li>
					<li ng-class="getClass('/contact')">
						<a href="#/contact">Contact</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li ng-repeat="item in actions">
								<a href="{{item.url}}">{{item.name}}</a>
							</li>
							<li class="divider"></li>
							<li class="nav-header">
								Nav header
							</li>
							<li>
								<a href="#">Separated link</a>
							</li>
							<li>
								<a href="#">One more separated link</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="navbar-form pull-right" ng-hide="isLogged() == 'guest'">
					<button type="submit" class="btn btn-danger" ng-click="logout()">
						LogOut
					</button>
				</div>
				<div id="signinButton" class="navbar-form pull-right" ng-show="isLogged() == 'guest'">
					<span
					class="g-signin"
					data-callback="init"
					data-clientid="588439795012-aqjab2qffma45q6tgen55pgjtslqlm1k.apps.googleusercontent.com"
					data-cookiepolicy="single_host_origin"
					data-requestvisibleactions="http://schemas.google.com/AddActivity"
					data-scope="https://www.googleapis.com/auth/plus.login"> </span>
				</div>
				<form class="navbar-form pull-right" ng-show="isLogged() == 'guest'">
					<button id="ourSignIn" type="submit" class="btn btn-primary"  ng-click="login">
						Sign in
					</button>
				</form>

			</div><!--/.nav-collapse -->
		</div>
	</div>
	<script type="text/javascript">
		function init(data) {
			var ele = $('[ng-controller="MenuCtrl"]')[0];
			var $scope = angular.element(ele).scope();
			$scope.signinCallback(data);
		}
	</script>
</div>